body{
    font-family: 'Courier New', 'Times New Roman', Times, serif;
    text-align: center;
    background-color: blanchedalmond;
    color:rgb(0, 0, 0);
}
a{
    color:darkgoldenrod
}
a:visited{
    color:brown
}
a:hover{
    font-size: 110%
}
h1{
background-color: black;
color:aliceblue;
font-family:'Courier New', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}